<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secsoro.sdkdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 使用Sensoro SDK 在AndroidMainfest中必须添加的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 开发者自行添加权限 -->
    <!-- add permission -->

    <application
        android:name="com.sensoro.sdkdemo.SensoroSDKDemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.sensoro.sdkdemo.SensoroSDKDemoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 使用Sensoro SDK 在AndroidMainfest中必须添加的Service -->
        <service
            android:name="com.sensoro.beacon.base.service.IBeaconService"
            android:enabled="true"
            android:exported="true"
            android:isolatedProcess="false"
            android:label="iBeacon" >
        </service>
        <service
            android:name="com.sensoro.beacon.base.IBeaconIntentProcessor"
            android:enabled="true" >
        </service>
        <service android:name="com.sensoro.beacon.core.BleService" />

        <!-- 开发者自行添加Service -->
        <service android:name="com.sensoro.sdkdemo.SensoroFsmService" />
    </application>

</manifest>